{% extends "layouts/information.html" %}

{% load layout_extras %}

{% block title %}About EZID{% endblock %}

{% block main_column %}

  {% host_based_include "info/_about_us_include.html" %}

	<h1>About EZID</h1>

<p>
	EZID is a service conceived, built, and maintained by the
	UC Curation Center (UC3). UC3 is a group within the
	California Digital Library focused on the building systems
	and tools that enable the curation and preservation of
	digital scholarship.
</p>

<p>
	The California Digital Library (CDL)
	was founded by the University of California in 1997 to take
	advantage of emerging technologies that were transforming
	the way digital information was being published and
	accessed. CDL's diverse and talented staff has assembled
	one of the world's largest digital research libraries and
	has changed the ways that faculty, students, and researchers
	discover and access information. 
</p>

<p>
	As part of the CDL, the UC
	Curation Center (UC3) has relationships with a wide range of
	researchers across the University, including natural history
	museums, research groups, individual scientists and faculty
	members on all 10 UC campuses. UC3 staff members bring a
	unique blend of experience to this multi-disciplinary
	venture.  UC3 staff has formal training in science,
	mathematics, the humanities, and information science, as
	well as deep professional experience in the creation of
	software, services, and funded proposals.
</p>


<p>  
	UC3 has
	extensive contacts with scientists, within the University of
	California and beyond via projects funded by the Library of
	Congress, National Science Foundation, National Institutes
	of Health (pending) and the Gordon and Betty Moore
	Foundation.  Finally, UC3 is a founding member of the
	international DataCite consortium, which is dedicated to
	providing the social and technical infrastructure that will
	enable data sharing and publication. 
</p>


{% endblock %}