{% extends "layouts/information.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% block title-twitter %}{% trans "About ARKetype" %}{% endblock %}{% endblock %}
{% block heading %}{% autoescape off %}{% content_heading _("About Us") %}{% endautoescape %}{% endblock %}
{% block content %}
<div class="container vertical-buffer-xs">
   <div>
      <p class="h3 text-primary">Our service</p>
      <p>ARKetype is an Archival Resource Key (ARK) allocation service managed by
         the Haute école de gestion de Genève which was initiated thanks to the
         funding from
         <a href="https://www.swissuniversities.ch/">swissuniversities</a>.
      </p>
      <p>We aim to facilitate the creation and management of long-term and unique
         identifiers that can be assigned to anything digital, physical, or abstract.
      </p>
      <p>hrough ARKetype, organisations are able to create identifiers with a very
         fine level of granularity that can reflect complex object hierarchies as
         well as being able to retain traceability, versioning, or even information
         on the object's persistence or unavaibility through the
         <a href="https://n2t.net/e/ark_ids.html">inflection functionality</a>.
      </p>
      <p>We provide a user interface and an application programming interface (API)
          for assigning ARK identifiers to resources. Any kind of metadata schemas
          can be associated with ARKs and for the moment we currently support three
          types of profiles (Electronic Resource Citation, Dublin Core, DataCite).
          Try the <a href="/demo/advanced">Advanced Demo Identifier</a> to see how
          it works.
      </p>
   </div>
   <div>
      <p class="h3 text-primary">Our team</p>
      <ul>
         <li>Arnaud Gaudinat</li>
         <li>René Schneider</li>
         <li>Amir Alwash</li>
         <li>David Nogueiras Blanco </li>
         <li>Stéphane Jermini</li>
      </ul>
   </div>
   <div>
      <p class="h3 text-primary">Our pricing</p>
      <p>We currently offer one pricing level:
         <b>CHF 1'000 per year for the creation and maintenance of an unlimited
            number of identifiers</b>.
      </p>
      <p>If you're interested or have any questions, please
         <a href="/contact">contact</a> us.
      </p>
   </div>
   <div>
      <p class="h3 text-primary">ARK FAQ</p>
      <p>Here are two great FAQ pages about the ARK identifier:</p>
      <ul>
         <li><a href="https://wiki.lyrasis.org/display/ARKs/ARK+Identifiers+FAQ">
            in English</a>
         </li>
         <li><a href="https://wiki.lyrasis.org/pages/viewpage.action?pageId=178880619">
            in French</a>
         </li>
      </ul>
   </div>
</div>
{% endblock %}
