{% extends "layouts/information.html" %}

{% block title %}Client List{% endblock %}

{% block main_column %}
<h1>EZID Partners and Clients</h1>

<p>New in July 2014</p>
<ul>
<li>Carnegie Mellon University Library (on behalf of the CMU campus) <a href="http://search.library.cmu.edu/">http://search.library.cmu.edu/</a></li>
<li>iPlant Collaborative <a href="http://www.iplantcollaborative.org">http://www.iplantcollaborative.org</a></li>
<li>National Oceanic and Atmospheric Administration Global Monitoring Division (NOAA-GMD) <a href="www.esrl.noaa.gov/gmd">www.esrl.noaa.gov/gmd</a></li></ul>

<p>Complete list</p>
<ul>
	<li>UC Berkeley Library (on behalf of the UC Berkeley campus) <a href="http://www.lib.berkeley.edu/">http://www.lib.berkeley.edu/</a></li>
	<li>UC Irvine Libraries (on behalf of the UC Irvine campus) <a href="http://www.lib.uci.edu/">http://www.lib.uci.edu/</a></li>
	<li>UC Los Angeles Library (on behalf of the UC LA campus) <a href="http://www.library.ucla.edu/">http://www.library.ucla.edu/</a> </li>
	<li>UC Merced Library (on behalf of the UC Merced campus) <a href="http://library.ucmerced.edu/">http://library.ucmerced.edu/</a></li>
	<li>UC Riverside Library (on behalf of the UC Riverside campus) <a href="http://library.ucr.edu/">http://library.ucr.edu/</a></li>
	<li>UC San Diego Library (on behalf of the UC San Diego campus) <a href="http://libraries.ucsd.edu/">http://libraries.ucsd.edu/</a></li>
	<li>UC San Francisco Library (on behalf of the UC San Francisco campus) <a href="http://www.library.ucsf.edu/">http://www.library.ucsf.edu/</a></li>
	<li>UC Santa Barbara Library (on behalf of the UC Santa Barbara campus) <a href="http://www.library.ucsb.edu/">http://www.library.ucsb.edu/</a></li>
	<li>UC Santa Cruz Library (on behalf of the UC Santa Cruz campus) <a href="http://library.ucsc.edu/">http://library.ucsc.edu/</a></li>
	<li>American Astronomical Society <a href="http://www.aas.org">http://www.aas.org</a></li>
	<li>Bay Area Environmental Research Institute <a href="http://baeri.org/">http://baeri.org/</a></li>
	<li>Benchfly <a href="http://www.benchfly.com">http://www.benchfly.com</a></li>
	<li>Broad Institute of MIT and Harvard <a href="http://www.broadinstitute.org">http://www.broadinstitute.org</a></li>
	<li>Brown University Library <a href="http://library.brown.edu/">http://library.brown.edu/</a></li>
	<li>California Institute of Technology Library (on behalf of the CalTech campus) <a href="http://library.caltech.edu/">http://library.caltech.edu/</a></li>
	<li>Cancer Imaging Archive <a href="http://www.cancerimagingarchive.net">http://www.cancerimagingarchive.net</a></li>
	<li>Carnegie Mellon University Library (on behalf of the CMU campus) <a href="http://search.library.cmu.edu/">http://search.library.cmu.edu/</a></li>
	<li>Centre national de documentation p&eacute;dagogique <a href="http://www.cndp.fr/">http://www.cndp.fr/</a></li>
	<li>Columbia University Libraries/Information Services on behalf of Columbia University <a href="http://library.columbia.edu/">http://library.columbia.edu/</a></li>
	<li>Cornell Institute for Social and Economic Research <a href="http://ciser.cornell.edu/">http://ciser.cornell.edu/</a></li>
	<li>Cornell University Library <a href="http://www.library.cornell.edu/">http://www.library.cornell.edu/</a></li>
	<li>Cyberinfrastructure for Atomistic Materials Science (CAMS) <a href="http://cams.mse.ufl.edu/">http://cams.mse.ufl.edu/</a></li>
	<li>Data Planet <a href="http://www.conquestsystems.com">http://www.conquestsystems.com</a></li>
	<li>The Digital Archaeological Record (tDAR) <a href="http://www.tdar.org">http://www.tdar.org</a></li>
	<li>Digital-Science <a href="http://www.digital-science.com/">http://www.digital-science.com/</a></li>
	<li>Dryad Data Repository <a href="http://datadryad.org">http://datadryad.org</a></li>
	<li>Duke University Library (on behalf of Duke University) <a href="http://library.duke.edu">http://library.duke.edu</a></li>
	<li>Earth Science Information Partners (ESIP)'s Commons <a href="http://commons.esipfed.org/">http://commons.esipfed.org/</a></li>
	<li>Harte Research Institute at Texas A&amp;M, Corpus Christi <a href="http://www.harteresearchinstitute.org/">http://www.harteresearchinstitute.org/</a></li>
	<li>Harvard University on behalf of the DataVerse Network <a href="http://thedata.harvard.edu/dvn/">http://thedata.harvard.edu/dvn/</a></li>
	<li>Incorporated Research Institutions for Seismology (IRIS) <a href="http://www.iris.edu/">http://www.iris.edu/</a></li>
	<li>iPlant Collaborative <a href="http://www.iplantcollaborative.org">http://www.iplantcollaborative.org</a></li>
	<li>Johns Hopkins University Sheridan Libraries (on behalf of the JHU Data Management Services and Data Archive) <a href="http://dmp.data.jhu.edu">http://dmp.data.jhu.edu</a></li>
	<li>LabArchives <a href="http://www.labarchives.com/">http://www.labarchives.com/</a></li>
	<li>Laboratory for Anthropogenic Landscape Ecology, University of Maryland Baltimore County (UMBC) <a href="http://ecotope.org">http://ecotope.org</a></li>
	<li>Landcare Research New Zealand Ltd. <a href="http://www.landcareresearch.co.nz">http://www.landcareresearch.co.nz</a></li>
	<li>Long Term Ecological Research Network (LTER) Office <a href="http://www.lternet.edu/sites/lno">http://www.lternet.edu/sites/lno</a></li>
	<li>Middlebury College <a href="http://www.middlebury.edu">http://www.middlebury.edu</a></li>
	<li>MorphoBank <a href="http://www.morphobank.org/">http://www.morphobank.org/</a></li>
	<li>National Atmospheric and Space Administration (NASA)'s Goddard Space Flight Center <a href="http://earthdata.nasa.gov/">http://earthdata.nasa.gov/</a></li>
	<li>National Center for Atmospheric Research (NCAR) <a href="http://ncar.ucar.edu">http://ncar.ucar.edu</a></li>
	<li>National Oceanic and Atmospheric Administration (NOAA) <a href="http://www.noaa.gov/">http://www.noaa.gov/</a></li>
	<li>National Oceanic and Atmospheric Administration Global Monitoring Division (NOAA-GMD) <a href="www.esrl.noaa.gov/gmd">www.esrl.noaa.gov/gmd</a></li>
	<li>National Snow and Ice Data Center (NSIDC) <a href="http://nsidc.org/">http://nsidc.org/</a></li>
	<li>OneOcean <a href="http://www.oneoceancorp.com/">http://www.oneoceancorp.com/</a></li>
	<li>Oregon Health Sciences University Library (on behalf of the OHSU campus) <a href="http://www.ohsu.edu/xd/education/library/">http://www.ohsu.edu/xd/education/library/</a></li>
	<li>Oregon State University Libraries (on behalf of the OSU campus) <a href="http://osulibrary.oregonstate.edu/"> http://osulibrary.oregonstate.edu/</a></li>
	<li>PeerJ Inc. <a href="http://peerj.com/">http://peerj.com/</a></li>
	<li>Qualitative Data Repository (CQRM) <a href="http://www.maxwell.syr.edu/moynihan/cqrm/About_CQRM/">http://www.maxwell.syr.edu/moynihan/cqrm/About_CQRM/</a></li>
	<li>Renaissance Computing Institute (RENCI) <a href="http://www.renci.org/">http://www.renci.org/</a></li>
	<li>Rolling Deck to Repository (R2R) Program <a href="http://www.rvdata.us/">http://www.rvdata.us/</a></li>
	<li>Rutgers University Libraries <a href="http://www.libraries.rutgers.edu/">http://www.libraries.rutgers.edu/</a></li>
	<li>Sage Bionetworks <a href="http://sagebase.org/">http://sagebase.org/</a></li>
	<li>UNAVCO <a href="http://www.unavco.org/">http://www.unavco.org/</a></li>
	<li>Universit&eacute; Claude Bernard Lyon Library <a href="http://www.univ-lyon1.fr/">http://www.univ-lyon1.fr/</a></li>
	<li>University College Dublin Library (on behalf of University College Dublin) <a href="http://www.ucd.ie/library/">http://www.ucd.ie/library/</a></li>
	<li>University of Alberta Library (on behalf of the University of Alberta campus) <a href="http://www.library.ualberta.ca">http://www.library.ualberta.ca</a></li>
	<li>University of Cincinnati Libraries <a href="http://libraries.uc.edu/">http://libraries.uc.edu/</a></li>
	<li>University of Idaho Library (on behalf of the Northwest Knowledge Network) <a href="http://www.northwestknowledge.net">http://www.northwestknowledge.net</a></li>
	<li>University of Oregon Libraries (on behalf of the UO campus) <a href="http://libweb.uoregon.edu/">http://libweb.uoregon.edu/</a></li>
	<li>University of Tennessee Library (on behalf of the UTK campus) <a href="http://lib.utk.edu/">http://lib.utk.edu/</a></li>
	<li>University of Utah Library (on behalf of the entire University of Utah campus)
<a href="http://www.lib.utah.edu/">http://www.lib.utah.edu/</a></li>
	<li>University of Washington Libraries <a href="http://www.lib.washington.edu/">http://www.lib.washington.edu/</a></li>
	<li>U.S. Global Change Research Program of the University Corporation of Atmospheric Research (UCAR) <a href="http://globalchange.gov">http://globalchange.gov</a></li>
	<li>U.S. Fish and Wildlife Service <a href="http://www.fws.gov/southwest">http://www.fws.gov/southwest/</a></li>
	<li>USGS Core Science Clearinghouse (formerly National Biological Info. Infrastructure)
<a href="http://www.usgs.gov/core_science_systems/cas/metadata/index.html">http://www.usgs.gov/core_science_systems/cas/metadata/index.html</a></li>
	<li>Virginia Tech University Libraries <a href="http://www.lib.vt.edu/">http://www.lib.vt.edu/</a></li>
	<li>Washington State University Libraries (on behalf of the WSU campus) <a href="http://www.wsulibs.wsu.edu/">http://www.wsulibs.wsu.edu/</a></li>
	<li>Washington University in St. Louis <a href="http://www.wustl.edu">http://www.wustl.edu</a></li>
</ul>

 
{% endblock %}

