{% extends "layouts/learn.html" %}
{% load layout_extras %}
{% load menus %}
{% load i18n %}

{% comment %}Don't need to translate this{% endcomment %}
{% block title %}CrossRef FAQ{% endblock %}
{% block heading %}{% content_heading _("CrossRef: Frequently Asked Questions") %}{% endblock %}
{% block content %}

{% comment %}Don't need to translate this{% endcomment %}
{% learn_breadcrumb 'CrossRef FAQ' 'FAQ' '#05' %}
<div class="vertical-buffer-20"></div>
<div class="container">
{% comment %}Translators: Copy HTML tags over and only translate words outside of these tags 
i.e.: <p>TRANSLATE TEXT WRAPPED BY HTML TAGS</p> 
i.e.: <a href="don't_translate_urls">PLEASE PRESERVE HTML TAGS</a> 
{% endcomment %}
{% blocktrans trimmed %}
<p><strong>How do I get my data into CrossRef</strong></p>
<p>Lorem ipsum dolor sit amet, offendit vivendum volutpat ad sea. Per tale dicta an. Agam delenit abhorreant mel te, oratio aeterno definitionem vim ei, ea malorum maiestatis deterruisset eos. Pro eu quem oblique detracto.</p>

<p>No sanctus scaevola definitionem vim. Vis justo quaestio ne, ne qui quod erroribus. Eam animal legendos ex, adhuc mandamus recteque pri ne. Solum audiam accusata qui ea, perfecto inimicus est in. Mentitum iracundia torquatos cu est, periculis complectitur ex vis. Eos illud postea ut, erant facilisis appellantur est cu, mutat debet et ius.</p>
{% endblocktrans %}
</div>
{% endblock %}
