{% extends "layouts/information.html" %}

{% block title %}Documentation{% endblock %}

{% block main_column %}
  <h1>Non-technical Documentation</h1>
    
  <p><a href="http://www.cdlib.org/services/uc3/docs/EZIDServiceGuidelines.pdf">EZID Service Guidelines</a></p>
  
  <h1>Technical Documentation</h1>
    
  <p><a href="http://n2t.net/ezid/doc/apidoc.html">API Documentation</a></p>
  
  <p><a href="https://wiki.ucop.edu/display/Curation/Identifier+Conventions">Identifier Conventions</a></p>
	
	<h1>Status Information</h1>
	
	<p><a href="/ezid/status.html">EZID Status Information</a>
{% endblock %}