{% extends "layouts/information.html" %}

{% block title %}EZID Help{% endblock %}

{% block main_column %}
	<h1>EZID Help</h1>
	
	
	<h2>My Account</h2>
	<dl>
		<dt>Set up an account.</dt> 
		<dd>To set up an account with EZID, please visit the
			<a href="/ezid/home/contact"> contact us</a> page and send
			us an email inquiry.
		</dd>
		<dt>Edit account information</dt>
		<dd>
			Once you have an EZID account, you can edit your name, address,
			phone number, and password on the My Account page. You can
			also designate a co-owner for the identifiers in your account.
		</dd>
		<dt>What is co-ownership?</dt>
		<dd>Co-ownership is when one EZID user account designates
			another EZID user account as co-owner of the first account's
			identifiers. This gives the second EZID user account the right
			to manage and edit detailed information about an identifier.  
		</dd>
	</dl>

	<h2>Create Identifiers</h2>
	<dl>
		<dt>Simple create form vs. advanced create form.</dt>
		<dd>In the simple create form, you can create an
			identifier and fill in a brief description of the object
			being identified. In the advanced create form, you have the additional options of adding a custom
			remainder (suffix) to the identifier, the ability to delay
			publishing of identifier, and also the capability to
			select different ways of describing their objects.
		</dd>
		<dt>Which identifier should I choose?</dt>
		<dd>
			DOIs have a brand that is well established in the scholarly
			publishing and archiving world. Use DOIs to register objects
			under good long-term management. Researchers may choose a DOI
			for materials being published.
		</dd>
		<dd>
			ARKs have some additional levels of flexibility: they are
			case-sensitive; they can distinguish between special characters
			and adopt predictable behavior; and they can be deleted. Researchers may choose
			to use ARKs during the early stages of a research project and for unpublished materials associated with an
			object that has been registered with a DOI. 
		</dd>
		<dt>Why should I describe my object with metadata?</dt>
		<dd>
			Adding descriptive metadata to an identifier can help
			others find, cite and reuse your object in the future. Metadata
			is information (data) about the object, such as the name
			of the object's creator, the date of creation, the target
			URL, the version of the object, its title, and so on. EZID
			allows you to enter metadata at the same time you request the
			identifier as well as later. 
		</dd>
		<dt>What does it mean to publish an identifier?</dt>
		<dd>
			Publication of an identifier means making the identifier,
			its target URL and associate metadata publicly available.
		</dd>
		<dt>Advanced create identifier form</dt>
		<dd>
			Custom remainders (suffixes) should be unique and opaque. By opaque,
			it is meant that the alphanumeric string has no meaning. EZID
			strongly discourages placing brand strings in the remainder
			because successor organizations do not often honor
			previous brand and name assignments.
		</dd>
		<dd>
			Because it is difficult to do this manually, it is recommended
			that EZID generate new identifiers in order to guarantee that
			they are unique and opaque.  
		</dd>
		<dt>Which citation profile should I use?</dt>
		<dd>
			DataCite Kernel:  when registering a DOI for a dataset,
			the DataCite Kernel is required as a minimum set of metadata.
			If a richer set of descriptive capability is desired, choose the
			full DataCite Schema, which is documented here:
			<a href="http://schema.datacite.org/">http://schema.datacite.org/</a>
		</dd>
		<dd>
			Dublin Core:  the Dublin Core profile is provided for interoperability.
		</dd>
		<dd>
			ERC (aka, Dublin Kernel): the Electronic  Resource Citation
			(ERC) profile is the EZID UI default for ARKs. Metadata
			features developed for the ARK resolver are aimed at records
			stored with this format first. 
		</dd>
		<dd>
			Full DataCite Schema: when registering a DOI for a dataset,
			the DataCite Kernel is required as a minimum set of metadata.
			If a richer set of descriptive capability is desired, choose
			the full DataCite Schema, which is documented here:
			<a href="http://schema.datacite.org/">http://schema.datacite.org/</a>. This must be done via the EZID <a href="/ezid/doc/apidoc.html">API</a>.
		</dd>
	</dl>

	<h2>Manage IDs</h2>
	<dl>
		<dt>How to customize the <i>Manage ID</i> browse list view?</dt>
		<dd>
			You can browse all identifiers that you have
			created by a browse list in the Manage ID section. You
			can customize this list with informational fields of your choice by clicking on the <i>Customize view</i>
			link. You may select up to 8 informational columns for the list view.
		</dd>
		<dt>ID detail view</dt>
		<dd>
			You can view detailed descriptive information
			about identifiers you have created. You'll also see a QR code for the URL version of the identifier. On this screen, you can
			edit and add to the information you have entered into EZID to describe the object.
		</dd>
	</dl>
	
	<h2>Lookup IDs</h2>
	<dl>
		<dt>Instructions on how to enter identifier string to return results.</dt>
		<dd>
			In order to view the details about a known identifier, you must enter the complete string.
		</dd>
	</dl>
	
	<h2>Free Trial</h2>
	<dl>
		<dt>What is a test identifier?</dt>
		<dd>
			Anyone can try out the EZID functionality without an account by creating
			<i>test IDs.</i> These identifiers will be valid for 2
			weeks and can be used to try out features of the EZID website.
		</dd>
	</dl>

{% endblock %}
{% block sidebar %}

{% endblock %}