{% extends "layouts/information.html" %}
{% load layout_extras %}

{% block title %}EZID Home{% endblock %}

{% block main_column %}
  <h1>EZID (easy-eye-dee) makes it easy to create and manage unique,
    long-term identifiers.</h1>
  <ul>
    <li>
      You can create identifiers for any kind of entity--physical, digital,
      abstract, etc. For digital object identifiers, you can use EZID
      to maintain their current locations so any citation links you've created are never broken.</li>
    <li>
      You can also store citation metadata with identifiers to help others discover your objects and help you maintain the identifiers. Several citation formats are possible.
    </li>
		<li>
		EZID also provides you with a QR code for every identifier. This comes in handy for using in poster sessions, promotional materials about your research, and anywhere else you don't have space to reference your object fully.
		</li>
    <li>
      EZID supports a number of persistent identifier technologies,
      including ARKs (Archival Resource Keys), and DataCite DOIs (Digital Object
      Identifiers).
    </li>
  </ul>
  
  <p>
    EZID also has a <a href="/ezid/doc/apidoc.html">programming interface</a>. You need a login account for full use of EZID, but you can <a href="/ezid/lookup">look up</a> any existing identifier without an account. And, you can start a <a href="/ezid/demo/simple">Free Trial</a> today! Once you've seen how it works, please <a href="/ezid/home/contact">contact us</a> for more information about getting an account.
  </p>
{% endblock %}
{% block sidebar %}

<h1>Learn More</h1>
	{% rounded_borders %}
		<ul class="linklist">
			<li><a href="/ezid/home/why">Why EZID?</a></li>
			<li><a href="/ezid/home/understanding">Understanding Identifiers</a></li>
			<li><a href="/ezid/home/pricing">Pricing</a></li>
			<li><a href="/ezid/home/documentation">Documentation</a></li>
			<li><a href="/ezid/home/outreach">Outreach</a></li>
			<li><a href="/ezid/home/community">The EZID Community</a></li>
		</ul>
	{% endrounded_borders %}
	
{% endblock %}