{% extends "layouts/information.html" %}
{% load layout_extras %}

{% block title %}EZID Home{% endblock %}

{% block main_column %}
  <h1>EZID (easy-eye-dee) makes it easy to manage unique,
    long-term identifiers</h1>
<ul>
    <li>create identifiers for anything: texts, data, bones, terms, etc.</li>
    <li>
      store citation metadata for identifiers in a variety of formats
    </li>
		<li>update current URL locations so citation links are never broken
		</li>
		<li>use EZID's <a href="/ezid/doc/apidoc.html">programming interface</a> for automated operation at scale
		</li>
    <li>choose from a variety of persistent identifiers, including ARKs and DataCite DOIs
		</li>
		<li><a href="/ezid/demo/simple">try out EZID</a> anytime and <a href="/ezid/home/contact">contact us</a> for more information
		</li>
		  </ul>
{% endblock %}
{% block sidebar %}
	<div style="text-align:center;">
		<img src="https://chart.googleapis.com/chart?chs=120x120&cht=qr&chld=L|0&chl={{ ezid_home_url|urlencode }}"
  		   alt="QR Code for EZID" title="QR Code for EZID" /><br/>
  	EZID provides a QR code for<br/>each identifier it creates.<br/><br/>
 	</div>
{% endblock %}