{% extends "layouts/information.html" %}

{% block title %}Research Institution FAQ{% endblock %}

{% block main_column %}
  <h1>FAQ from Research Institutions</h1>
  

	<h4>What is the relationship between EZID, CDL, and DataCite? And do we have to join DataCite to get DOIs?</h4>
	<p>By working with CDL and EZID, you are automatically working with DataCite, because CDL is a full DataCite member. This <a href="http://www.cdlib.org/services/infrastructure/docs/EZIDEntityMap.pdf">diagram</a> may help explain the relationships.</p>
	<h4>After the subscription is paid, then what?  How do users we want to sponsor get access?</h4>     
  <p>Once the main account is set up, if you would like to sponsor other groups, then you would use the sponsored account order form to request new accounts. Please <a href="/contact">contact us</a> for this form if you don't have it. In addition, we provide customizable <a href="/home/outreach">outreach materials and presentations</a> you can re-purpose to use at your institution.</p>
	<h4>Who sets up accounts for groups? Who sets up accounts for individuals?</h4>
	<p>CDL handles this. We are developing the functionality so that you can do (some of) this for yourselves. At the present time, this is something we do for you.</p>
	<h4>We are working with a repository that is using EZID. How are the IDs issued by the repository related to EZID?</h4>
	<p>If you submit content to a repository working with EZID, the ARKs or DOIs it assigns come from EZID.</p>
	<h4>Can EZID identifiers be related to the links in other systems</h4>
	<p>EZID identifiers can be related to external links if you associate them with metadata, for example by using the relatedIdentifier field in the <a href="http://schema.datacite.org/">DataCite metadata schema</a>.</p>
	<h4>We have a DSpace repository. Is it possible (or advisable) to apply EZID identifiers retrospectively or in the future for the content in our Dspace repository?</h4>
	<p>Because EZID has an API, it is possible to write code to interact with your Dspace repository.</p>
	<h4>What happens when an account holder leaves our institution? Can he or she still update the DOI or ARK? If not, what must happen?</h4>
	<p>If an account-holder leaves your institution, please let us know so that we revoke their CREATE access to EZID. They will continue to be able to maintain all existing identifiers.</p>
	<h4>What if research partners are not at our institution? Can they also use EZID for a project partially based at our institution?</h4>
	<p>If there is a researcher from your institution associated with the project, and if you want to sponsor the access, then we are okay with extending access. Have them complete an order form for an account.</p>
	<h4>Are we eligible to participate in your CrossRef service?</h4>
	<p>All non-profit institution account-holders are eligible to participate. Please <a href="/contact">contact us</a> for more information.</p>
	

  
{% endblock %}

