{% extends "layouts/information.html" %}

{% block title %}Library FAQ{% endblock %}

{% block main_column %}
  <h1>FAQ from Libraries</h1>
  

	<h4>What is the relationship between EZID, CDL, and DataCite? And do we have to join DataCite to get DOIs?</h4>
	<p>By working with CDL and EZID, you are automatically working with DataCite, because CDL is a full DataCite member. This <a href="http://www.cdlib.org/services/infrastructure/docs/EZIDEntityMap.pdf">diagram</a> may help explain the relationships.</p>
	<h4>After the subscription is paid, then what?  How do campus users get access?</h4>     
  <p>Once the Library account is set up, if the Library would like to be the hub for contacts, then you would reach out to faculty and ask any new prospective users to complete an order form. We provide customizable <a href="/home/outreach">outreach materials and presentations</a> you can re-purpose. If you prefer to have your faculty contact us, that's okay too. We can set up whatever workflow works best for you.</p>
	<h4>Who sets up accounts for groups? Who sets up accounts for individuals?</h4>
	<p>CDL handles this. At some point in the future, we may build in this capacity for you to do this yourselves, but at the present time, this is something we do for you.</p>
	<h4>How involved must the Library be in account management? What kind and how much work is involved?</h4>
	<p>Once the accounts are set up, unless a user became derelict, you would have no role in account management. As the sponsor for all these accounts, if you <i>want</i> to oversee them, you can, of course, but this is optional.</p>
	<h4>We also use Merritt. How are the ARKS issued through EZID related to content submitted to Merritt?</h4>
	<p>If you submit content to <a href="https://merritt.cdlib.org/">Merritt</a>, the ARKs that Merritt assigns to the content come from EZID.</p>
	<h4>How are the EZID identifiers related to the Permalinks in eScholarship?</h4>
	<p>EZID identifiers are not related to Permalinks in <a href="http://escholarship.org/">eScholarship</a> (unless you want to associate them by using the relatedIdentifier field in the <a href="http://schema.datacite.org/">DataCite metadata schema</a>).</p>
	<h4>We have a DSpace repository. Is it possible (or advisable) to apply EZID identifiers retrospectively or in the future for the content in our Dspace repository?</h4>
	<p>Because EZID has an API, it is possible to write code to interact with your Dspace repository.</p>
	<h4>What happens when an account holder leaves our institution? Can he or she still update the DOI or ARK? If not, what must happen?</h4>
	<p>If an account-holder leaves your institution, please let us know so that we revoke their CREATE access to EZID. They will continue to be able to maintain all existing identifiers.</p>
	<h4>What if research partners are not at our institution? Can they also use EZID for a project partially based at our institution?</h4>
	<p>If there is a researcher from your institution associated with the project, and if you want to sponsor the access, then we are okay with extending access. Have them complete an order form for an account.</p>
	

  
{% endblock %}

