{% extends "layouts/information.html" %}

{% block title %}Outreach{% endblock %}

{% block main_column %}
  <h1>Webinars and Presentations</h1>
  
	<p><a href="http://www.slideshare.net/UC3/metadata-for-datasets">Dataset Metadata, Tools and Approaches for Access and Preservation</a> presentation at ALA MidWinter Meeting, January 21, 2012, slides</p>
	   
  <p><a href="http://www.cdlib.org/services/uc3/webinars/20110811/lib/playback.html">EZID Webinar, Aug. 11, 2011</a></p>
  
  <p><a href="http://www.slideshare.net/UC3/an-introduction-to-ezid">Webinar Slides, Aug. 11, 2011</a></p>
  
  <p><a href="http://www.slideshare.net/joanstarr/toward-making-data-management-easy">Data Management and EZID Presentation</a> at ALA Annual Meeting, June 26, 2011, slides.</p>
  
  <p><a href="http://www.cdlib.org/services/uc3/ezid/webinars/20101026/index.html">EZID Webinar, Oct. 26, 2010</a></p>
  
  <p><a href="http://www.slideshare.net/UC3/an-introduction-to-ezid">Webinar Slides, Oct. 26, 2010</a></p>
  
  <p><a href="http://www.slideshare.net/joanstarr/niso-datacite-ezid-presentation">EZID and DataCite Presentation</a> for NISO, August 11, 2010, slides.</p>
  
  <h1>Customizable materials</h1>
	
	<p><a href="http://www.cdlib.org/services/uc3/docs/EZID.pptx">EZID Flyer</a></p>
	
	<p><a href="http://www.cdlib.org/services/uc3/docs/EZID_postcard.pptx">EZID Postcard</a></p>
{% endblock %}