{% extends "layouts/information.html" %}

{% block title %}Outreach{% endblock %}

{% block main_column %}
  <h1>Webinars and Presentations</h1>
  
	<h2>2012</h2>
	
	 	<p><a href="http://www.cdlib.org/services/uc3/ezid/webinars/20120815/lib/playback.html">EZID Webinar, Aug. 15, 2012</a></p>
  
  	<p><a href="http://www.slideshare.net/UC3/ezid-summer-2012-webinar-13982190">Webinar Slides, Aug. 15, 2012</a></p>
 	
	<p><a href="http://www.slideshare.net/joanstarr/libraries-and-data-management">Libraries and Data Management</a> presentation at ALA Annual Meeting, June 24, 2012, slides
	
	<p><a href="http://www.slideshare.net/joanstarr/second-thoughts-about-metadata-standards-for-data">Second Thoughts about Metadata Standards for Data</a> presentation at ALA Annual Meeting, June 23, 2012, slides
	
	<p><a href="http://www.cdlib.org/services/uc3/docs/jak_ARKs_Berlin_2012.pdf">The ARK Identifier Scheme at Ten Years Old</a> presentation at Metadata and Persistent Identifiers for Social and Economic Data, Berlin, May 7, 2012, pdf</p>
	
	<p><a href="http://www.slideshare.net/joanstarr/data-as-supplementary-material">Data as Supplemental Material</a> presentation at Annual Meeting of Council of Science Editors, May 20, 2012, slides<p>
	
	<p><a href="http://www.slideshare.net/joanstarr/dataset-citation-and-identifiers">Dataset Citation and Identifiers: DOIs, ARKs, and EZID</a> presentation at National Center for Atmospheric Research workshop, April 5, 2012, slides</p>
	
	<p><a href="http://www.slideshare.net/UC3/metadata-for-datasets">Dataset Metadata, Tools and Approaches for Access and Preservation</a> presentation at ALA MidWinter Meeting, January 21, 2012, slides</p>
	
	<h2><a href="#web_pres_2011" class="expanding_link">2011 Webinars and Presentations (click for list)</a></h2>
	<div id="web_pres_2011" class="expanding_section">   
  	<p><a href="http://www.cdlib.org/services/uc3/webinars/20110811/lib/playback.html">EZID Webinar, Aug. 11, 2011</a></p>
  
  	<p><a href="http://www.slideshare.net/UC3/an-introduction-to-ezid">Webinar Slides, Aug. 11, 2011</a></p>
  
  	<p><a href="http://www.slideshare.net/joanstarr/toward-making-data-management-easy">Data Management and EZID Presentation</a> at ALA Annual Meeting, June 26, 2011, slides.</p>
 </div>
 
 <h2><a href="#web_pres_2010" class="expanding_link">2010 Webinars and Presentations (click for list)</a></h2>
 <div id="web_pres_2010" class="expanding_section">
	  <p><a href="http://www.cdlib.org/services/uc3/ezid/webinars/20101026/index.html">EZID Webinar, Oct. 26, 2010</a></p>
	  
	  <p><a href="http://www.slideshare.net/UC3/an-introduction-to-ezid">Webinar Slides, Oct. 26, 2010</a></p>
	  
	  <p><a href="http://www.slideshare.net/joanstarr/niso-datacite-ezid-presentation">EZID and DataCite Presentation</a> for NISO, August 11, 2010, slides.</p>
	</div>
  <h1>Customizable materials</h1>
	
	<p><a href="http://www.cdlib.org/services/uc3/docs/EZID_flyer2013.docx">EZID Flyer</a></p>
	
	<p><a href="http://www.cdlib.org/services/uc3/docs/EZID_postcard.pptx">EZID Postcard</a></p>
	
	<p><a href="http://www.cdlib.org/services/uc3/docs/EZID-poster2013.pptx">EZID Poster</a></p>
	
	<script type="text/javascript" src="/ezid/static/javascripts/expanding_divs.js"></script>`
{% endblock %}