{% extends "layouts/information.html" %}

{% block title %}Outreach{% endblock %}

{% block main_column %}
  <h1>Webinars and Presentations</h1>
	
<h2>2015</h2>

<p><a href="http://www.cdlib.org/services/infrastructure/docs/ezid_poster_dcmi.pptx">Identifiers made easy with EZID</a> Poster at Dublin Core Metadata Initiative Conference, S&#227;o Paulo, Brazil, Sept. 1-4, 2015, ppt</p>
	
	<h2>2014</h2>
	<p><a href="http://www.cdlib.org/services/infrastructure/webinars/20140925/lib/playback.html">Conversations about Data Citation</a> Webinar sponsored by EZID, Sept. 25, 2014</p>
	<p><a href="http://www.slideshare.net/joanstarr/citation-conversation">Webinar Introduction Slides</a>, Sept. 25, 2014</p>
	<p><a href="http://www.slideshare.net/joanstarr/conversations-about-data-citation-resource-links">Webinar Resource Link Slides</a>, Sept. 25, 2014</p>
	<p><a href="http://www.slideshare.net/joanstarr/identifiers-and-data-management">Identifiers and Data Management,</a>Talking Points, March 14, 2014, slides</p>
	
	<h1>Customizable materials</h1>
	
	<p><a href="http://www.cdlib.org/services/uc3/docs/EZID_flyer2013.docx">EZID Flyer</a></p>
	
	<p><a href="http://www.cdlib.org/services/uc3/docs/EZID_postcard.pptx">EZID Postcard</a></p>
	
	<p><a href="http://www.cdlib.org/services/uc3/docs/EZID_postcard_DH.pptx">EZID Postcard for Digital Humanities outreach</a></p>
		
	<p><a href="http://www.cdlib.org/services/uc3/docs/EZID-poster2013.pptx">EZID Poster</a></p>
	
	<script type="text/javascript" src="/static/javascripts/expanding_divs.js"></script>
{% endblock %}
