{% extends "layouts/information.html" %}

{% block title %}Pricing{% endblock %}

{% block main_column %}
  <h1>Pricing</h1>
     <p>Pricing based on:</p>
		 <ul>
		 <li>Annual subscription fee</li>
		 <li>Includes creation and maintenance  of unlimited identifiers</li>
		 </ul>
  <table class="manage">
<tr class="headrow">
<th>Pricing Schedule</th>
<th>DOIs and ARKs</th>
<th>ARKs only</th>
</tr>
<tr>
<td></td><td>$</td><td>$</td>
</tr>
<tr><td colspan="3"><i>Education and Non-Profit</i></td></tr>
<tr class="row1"><td>Assoc/Bac Granting Institution*</td><td>500<td>300</td></tr>
<tr class="row2"><td>Masters Granting Institution*</td><td>1,000<td>600</td></tr>
<tr class="row1"><td>Research Institution or Non-Profit Organization*</td><td>2,500</td><td>1,500</td></tr>
<tr class="row2"><td>Research group, department, or team</td><td>835</td><td>500</td></tr>
<tr class="row1"><td>Consortium (3 or more institutions or organizations)</td><td colspan="2">20% discount on any fee marked*</td></tr>
<tr class="headrow"><td colspan="3"></td></tr>
<tr><td colspan="3"><i>For Profit</i></td></tr>
<tr class="row1"><td>Small (less than 100 employees)</td><td>2,000</td><td>1,000</td></tr>
<tr class="row2"><td>Medium (100 to 500 employees)</td><td colspan="2"><a href="/ezid/contact">contact us</a></td></tr>
<tr class="row1"><td>Large (over 500 employees)</td><td colspan="2"><a href="/ezid/contact">contact us</a></td></tr>
</table>
  
  <p>
<b>Note:</b> EZID does not currently support the purchase of a single identifier (DOI or ARK). However, due to popular demand, we are developing the infrastructure to support this capacity. Please stay tuned!</p>

<p>For any questions regarding the above categories or rates, please <a href="/ezid/contact">contact us</a>.<p>
<p>University of California researchers: please <a href="/ezid/contact">contact us</a> for UC rates.</p>

  </p>
{% endblock %}
