{% extends "layouts/information.html" %}

{% block title %}Understanding Identifiers{% endblock %}

{% block main_column %}
  <h1>Understanding Identifiers</h1>
     
  <h2>What is a long-term identifier?</h2>
 
    <p>
    An identifier is an
    association between a character string and an object.
    Objects can be files, parts of files, names of persons or
    organizations, abstractions, etc. Objects can be online or
    offline. Character strings include URLs, serial numbers,
    names addresses, etc. A &quot;persistent identifier&quot; is an
    identifier that is available and managed over time; it will
    not change if the item is moved or renamed. This means that
    an item can be reliably referenced for future access by
    humans and software. EZID currently supports persistent for
    two kinds of identifiers: DataCite Digital Object Identifiers (DOIs) and lower-cost
    Archival Resource Keys (ARKs).
  </p>
 
    <h2>What is a DOI?</h2>
  <p>
    DOI stands for &quot;Digital Object
    Identifier.&quot; It is an identifier originating from the
    publishing world and in widespread use for journal articles.
    DOIs become persistent when the objects and identifier
    forwarding information is maintained.
  </p>
 
    <h2>What is an ARK?</h2>
  <p>
    ARK stands for &quot;Archival Resource Key.&quot; It is an identifier
    originating from the library, archive and museum community.
    ARKs become persistent when the objects and identifier
    forwarding information is maintained.
  </p>
	
	<h2>Can DOIs and ARKs be used together?</h2>
<p>ARK identifiers have certain features that can be very useful for:<p><ul>
 <li>Keeping track of many granules of a dataset (ARKs will be able to &quot;pass through&quot; a suffix, so many thousands of items can be referenced on the basis of a single registration);</li>
 <li>Keeping track of data before a decision has been made about whether or not it is going to be retained (ARKs can be deleted).</li>
 </ul>
 <p>This can make it attractive to use ARKs during the early part of a dataset’s &quot;life&quot; or the early stages of the research process. Then, when the time comes to begin writing up results and it becomes clear which object(s) will be cited, it may appropriate to get DOIs for those objects.</p>
 <p>DOI identifiers have the citation-level &quot;reputation&quot; and:<ul>
 <li>It is possible to use the ARK identifier of the cited object as the suffix for the DOI so that there is a traceable connection between the two.</li>
 </ul>
 <p>In this way, the two identifier schemes can work together to support the research data life cycle. With EZID, clients get access to both of these identifiers and can take best advantage of both approaches.<p>
    <h2>What is identifier resolution?</h2>
  <p>
    Instead of leading directly to an object, one
    identifier frequently points to another, or &quot;target
    URL&quot;, that leads directly to the object. The process
    of getting to the final target name, possibly via a chain of
    intermediate names, is called &quot;resolution.&quot; Resolution on
    the web is usually fast and invisible. It is done behind the
    scenes on your behalf by web browsers. Unsuccessful
    resolution, however, usually means visible failure to access
    the object that you were expecting, resulting in a &quot;broken
    identifier.&quot; Objects tend to move, so identifier persistence
    depends on resolution using up-to-date target URLs. To make this happen, EZID provides a way for people to update target URLs as
    they change when objects move around. This is very similar
    to leaving a forwarding address when you change your
    residence. As the starting point for resolution, the
    resolver effectively lets you publicize an unchanging
    identifier that you maintain so that it will consistently
    hit a target that may be moving. EZID currently updates two
    resolvers: N2T (Name-to-Thing) based at n2t.net and the DOI
    (Digital Object Identifier) resolver based at doi.dx.org.
  </p>
  
  <h2>What is metadata?</h2>
  
  <p>
    Metadata is information (data)about the object, such as the name of the object's creator,
    the date of creation, the target URL, the version of the
    object, its title, and so on. EZID allows the user to enter
    metadata at the same time as an identifier is requested.
    Associating metadata with identifiers enables more
    sophisticated mechanisms for digital content discovery and
    higher-level assurances of long-term persistence.
  </p>
 
  <h2>Who should I contact for more information?</h2>
  
  <p>
  	Please <a href="/ezid/home/contact">contact us</a>
  	with any questions or comments. Also, see
  	<a href="https://confluence.ucop.edu/display/Curation/Identifier+Conventions">Identifier Conventions</a>
  	for more information about the identifier practices implemented by the UC3 team.
  </p>
{% endblock %}