{% extends "layouts/information.html" %}

{% block title %}Why EZID?{% endblock %}

{% block main_column %}
  <h1>Why use EZID?</h1>
     		<img width="20%" src="http://www.cdlib.org/services/infrastructure/docs/Library.jpg" alt="Library as Data Services Hub" align="left" title="https://www.flickr.com/photos/kennedylibrary/6973651444" /> 
		  <p>
			<h2>The changing role of the library</h2>
		<i>Your university's scholarship depends upon data, and you see that scholarly communication is evolving to include data citation.</i>
		<ul>
		<li>As your Library develops data management and data curation services, you look for ways to <a href="/home/outreach">reach out</a> to scholars and meet their data-related needs.</li>
		<li><strong>EZID is flexible, affordable and extensible, allowing the Library to sponsor access for all scholars on a campus.</strong></li>
		<li>The Library can become known as the go-to place for data citation, data sharing, and data management.</li>
		</ul>
   </p>
  <h2>Funders demand management and tracking</h2>
	<i>You do a large amount of federally funded research</i> and now you are required to submit data management plans.</i>
		<ul>
		<li>The <strong>data management plan will save you time and resources</strong> in the long run and ensure that the data will be usable in the future.</li>
		<li>Moreover, the <a href="http://www.whitehouse.gov/sites/default/files/microsites/ostp/ostp_public_access_memo_2013.pdf">OSTP Public Access Memo</a> requires an approach to &#34;identifying and providing appropriate attribution to scientific data sets&#34; for covered agency public access plans.</li>
		<li><strong>EZID services can help.</strong> Contact one of your university library or one of our <a href="/home/client_list">current clients</a> and <strong>ask for EZID.</strong></li>
		</ul>
<p/> 
<img width="15%" src="http://www.cdlib.org/services/infrastructure/docs/Open.jpg" alt="Open" align="left" title="https://www.flickr.com/photos/matthileo/4826783509" />
 <h2>Open data, open science, open access</h2>
<i>Open sharing initiatives are spreading: open data, open science, open access, open source...</i> 
		<ul>
<li>EZID provides a great way to <strong>promote open sharing,</strong> because it allows the content creator to establish a permanent link to the object.</li> 
<li>When the object begins to <strong>get cited by others,</strong> even if it gets moved, as long as the metadata is updated, <strong>the citation reference will always work!</strong></li>
<li>EZID itself is built with open source components, and clients are contributing <a href="https://confluence.ucop.edu/display/DataCite/Open+Source+Software+for+EZID">open source add-ons</a> as well.</li>
<li>And now, <a href="https://confluence.ucop.edu/display/DataCite/CrossRef+Service+FAQs">EZID is also linked to CrossRef,</a> a huge benefit for non-profit open-access publishers that want CrossRef services for their journals.</li>
		</ul>
<p/>		
  <h2>Storage going global</h2>
	<i>You run a major research data center. Like everyone else, you invest in cloud storage. Objects move where you need them to go.</i>
  	<ul>
		<li>You offer the EZID services to your clients so that they can <strong>register an ARK or DOI now </strong>and circulate and cite the clickable addresses to their colleagues.</li> 
		<li>You appreciate the <a href="/doc/apidoc.html">automated workflows</a> available with EZID's easy application programming interface (API), its standards-based processes, and the <strong>growing community of support.</strong> </li> 
		</ul>
{% endblock %}