{% extends "layouts/information.html" %}

{% block title %}Why EZID?{% endblock %}

{% block main_column %}
  <h1>Why use EZID?</h1>
     
  <h2>Identify your data early</h2>
  
  <p>
		<img src="/ezid/static/images/field.jpg" alt="Researchers in field" align="right" title="http://www.flickr.com/photos/dave-rogers/2815036285" /><i>You do data-intensive research and write papers based on it.</i>
		You want to cite the dataset right now even though you
		haven't yet found a permanent "home" for the data. (It's still
		on your desktop.) Or, maybe you don't even have any data yet. You can 
		get a preservation-ready identifier, such as an ARK or a DOI, right now with EZID that you can use in your paper. When your paper is published and you move
		and the clickable reference will still work. When
		the paper begins to get cited by others, even if you move the
		data again, as long as you update the metadata again, the
		citation reference will always work!
  </p>
   
  <h2>Store your data anywhere </h2>

  <p>
		<img src="/ezid/static/images/group.jpg" alt="Researchers at blackboard" align="left" title="http://www.flickr.com/photos/universityofcalifornia/5405812887" /><i>You are part of a research team studying language change.</i>
		You work with a regional digital humanities research center where
		a data federation is hosted. The center's data services
		harvest metadata from your database. Right now, your
		database is stored on your departmental web server, but the
		server is getting old, and your chairman has announced that
		the department is considering moving all data storage to &quot;cloud
		storage.&quot; You can use the EZID services to register an
		ARK or DOI now and circulate that clickable address to your
		colleagues and to the entire data federation. When your
		department completes its transition to the cloud, you use
		EZID again to update the location details so that citations linking
		to your database continue to work perfectly.
  </p>
 
  <h2>Move your data easily</h2>

  <p>
  	<img src="/ezid/static/images/stars.jpg" alt="Researcher and stars" align="right" title="http://www.flickr.com/photos/universityofcalifornia/5406308654" /><i>You are an astro-physicist researcher/educator who has
  	published extensively</i> in the field. You use the EZID services
  	to allocate ARKs and DOIs to your work, the datasets that accompany
  	and inform your published articles. You are planning an exit
  	strategy and go into research full time in private industry,
  	with a firm that has made you a generous
  	offer. You plan to move your datasets with you. You use the
  	EZID services again to update the location details, and there
  	is no interruption of access to your data via the original identifiers.
  </p>
   
  <h2>Meet funding requirements</h2>

  <p>
  	<img src="/ezid/static/images/grant.jpg" alt="Group of researchers" align="left" title="http://www.flickr.com/photos/mellis/7675610/" /><i>You have received a research grant</i> from the National Science
  	Foundation. As part of your grant requirements, you must submit
  	a formal data management plan. The data management plan will save
  	you time and resources in the long run and ensure that your data
  	will be usable in the future. A key component of the plan is
  	naming and organizing your files, and EZID services can help
  	you. Register your files with EZID from the beginning. As your
  	work progresses, if you need to move your files, as long as
  	you update the metadata, the citations referencing your data will continue
  	to work.
  </p>
{% endblock %}